body{
  display: flex;
  align-self: center;
  justify-content: center;
}

.title{
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin-left: 25%;
}

.description{
  font-size: 20px;
}

.frame{
  width: 500px;
  height: 300px;
  overflow: hidden;
  transition: transform 0.5 ease-in-out;

}

.slider{
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.image{
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.control-panel{
  margin-top: 10px;
  margin-left: 200px;
}

.dot{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
}

.left-arrow{
  cursor: pointer;
}

.right-arrow{
  cursor: pointer;
}

/* 3D overflow effect */